
<!-- <app-buttons *ngFor note in scale [scale]='scale'></app-buttons> -->
<app-buttons *ngFor = 'let note of scale' [note]='note'></app-buttons>

<!-- <button (click)="onClick(0);">{{scale[0]}}</button>
<button (click)="onClick(1);">{{scale[1]}}</button>
<button (click)="onClick(2);">{{scale[2]}}</button>
<button (click)="onClick(3);">{{scale[3]}}</button>
<button (click)="onClick(4);">{{scale[4]}}</button>
<button (click)="onClick(5);">{{scale[5]}}</button>
<button (click)="onClick(6);">{{scale[6]}}</button>
<button (click)="onClick(0,1);">{{scale[7]}}</button> -->



<div>
    <select>
        <option (click)="selectScale('CM');">C Major</option>
        <option (click)="selectScale('Cm');">C Minor</option>
        <option (click)="selectScale('DM');">D Major</option>
        <option (click)="selectScale('Dm');">D Minor</option>
        <option (click)="selectScale('EM');">E Major</option>
        <option (click)="selectScale('Em');">E Minor</option>
        <option (click)="selectScale('FM');">F Major</option>
        <option (click)="selectScale('Fm');">F Minor</option>
        <option (click)="selectScale('GM');">G Major</option>
        <option (click)="selectScale('Gm');">G Minor</option>
        <option (click)="selectScale('AM');">A Major</option>
        <option (click)="selectScale('Am');">A Minor</option>
        <option (click)="selectScale('BM');">B Major</option>
        <option (click)="selectScale('Bm');">B Minor</option>

    </select>
    <select>
        <option (click) = 'rangeSelector(0)'>0</option>
        <option (click) = 'rangeSelector(1)'>1</option>
        <option (click) = 'rangeSelector(2)'>2</option>
        <option (click) = 'rangeSelector(3)'>3</option>
        <option (click) = 'rangeSelector(4)' selected>4</option>
        <option (click) = 'rangeSelector(5)'>5</option>
        <option (click) = 'rangeSelector(6)'>6</option>
        <option (click) = 'rangeSelector(7)'>7</option>
        <option (click) = 'rangeSelector(8)'>8</option>
        <option (click) = 'rangeSelector(9)'>9</option>
        <option (click) = 'rangeSelector(10)'>10</option>
    </select>
    <button (click) ='playScale()'>Play &#9658; </button>
</div>
