<h1>{{title}}</h1>


<app-buttons (touched)="playNote($event)" *ngFor = 'let note of scale; let i = index' [middleC]='middleC' [note] = 'note' [i] = 'i'></app-buttons>
<div>
    <select>
        <option (click)="selectScale('CM');">C Major</option>
        <option (click)="selectScale('Cm');">C Minor</option>
        <option (click)="selectScale('DM');">D Major</option>
        <option (click)="selectScale('Dm');">D Minor</option>
        <option (click)="selectScale('EM');">E Major</option>
        <option (click)="selectScale('Em');">E Minor</option>
        <option (click)="selectScale('FM');">F Major</option>
        <option (click)="selectScale('Fm');">F Minor</option>
        <option (click)="selectScale('GM');">G Major</option>
        <option (click)="selectScale('Gm');">G Minor</option>
        <option (click)="selectScale('AM');">A Major</option>
        <option (click)="selectScale('Am');">A Minor</option>
        <option (click)="selectScale('BM');">B Major</option>
        <option (click)="selectScale('Bm');">B Minor</option>

    </select>
    <app-range (selectedValue) = rangeSelector($event)></app-range>
    <button (click) ='playScale()'>Play &#9658; </button>
</div>
