

<button (click)="onClick(0,4);">{{scale[0]}}</button>
<button (click)="onClick(1,4);">{{scale[1]}}</button>
<button (click)="onClick(2,4);">{{scale[2]}}</button>
<button (click)="onClick(3,4);">{{scale[3]}}</button>
<button (click)="onClick(4,4);">{{scale[4]}}</button>
<button (click)="onClick(5,4);">{{scale[5]}}</button>
<button (click)="onClick(6,4);">{{scale[6]}}</button>
<button (click)="onClick(0,5);">{{scale[7]}}</button>



<div>
    <select>
        <option (click)="selectScale('CM');">C Major</option>
        <option (click)="selectScale('Cm');">C Minor</option>
        <option (click)="selectScale('DM');">D Major</option>
        <option (click)="selectScale('Dm');">D Minor</option>
        <option (click)="selectScale('EM');">E Major</option>
        <option (click)="selectScale('Em');">E Minor</option>
        <option (click)="selectScale('FM');">F Major</option>
        <option (click)="selectScale('Fm');">F Minor</option>
        <option (click)="selectScale('GM');">G Major</option>
        <option (click)="selectScale('Gm');">G Minor</option>
        <option (click)="selectScale('AM');">A Major</option>
        <option (click)="selectScale('Am');">A Minor</option>
        <option (click)="selectScale('BM');">B Major</option>
        <option (click)="selectScale('Bm');">B Minor</option>

    </select>
    <button (click) ='playScale()'>Play &#9658; </button>
</div>
